---
---

@import "{{ site.theme }}";
blockquote {
	border-left: 4px solid #00a300;
	padding: 10px;
	background-color: #f3f3f3;
	margin: 10px 0;
}

details summary {
	color: coral;
}

.info-container {
	padding: 10px;
	background-color: #f3f3f3;
}

.main-content .note {
	background-color: #f9f9f9;
	border-left: 10px solid #156290;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

.main-content .tip {
	background-color: #f9f9f9;
	border-left: 10px solid #f9f915;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

.main-content.warning {
	background-color: #f9f9f9;
	border-left: 10px solid #f91515;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

.main-content .info {
	background-color: #f9f9f9;
	border-left: 10px solid #0c8e0f;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

.main-content .caution {
	background-color: #f9f9f9;
	border-left: 10px solid #d0920c;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

.main-content .important {
	background-color: #f9f9f9;
	border-left: 10px solid #f91515;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}
